/* theme color */
$--color-primary: teal;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

*
{
    margin: 0;
}

@import "~element-ui/packages/theme-chalk/src/index";
